


/*********/
/* RESET */
/*********/

header, nav, footer, figure, section, article {display: block;}
html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, a, em, font, img, strong, sub, sup, dl, dt, dd, ul, ol, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, p {margin: 0;	padding: 0;	border: 0;	outline: 0; text-decoration: none;}



/*********/
/* BORDER BOX */
/*********/

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -o-box-sizing: inherit;
}


/*********/
/* FONT */
/*********/

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

strong { font-weight: bold; }



/*********/
/* GENERAL */
/*********/


body {
  font-family: 'Roboto', 'Arial', sans-serif;
	height: 100%;
  color: #333333;
	background-color: white;
}


.segment{
  width: 100%;
}

.segment.header{
  background: #faf9f7;
  padding: 30px 0;
}

.segment.theme{
  background: #ffffff;
  padding: 0;
}

.segment.contact{
  background: #ffffff;
  padding: 30px 0;
}

.segment.expertise{
  background: #faf9f7;
  padding: 30px 0;
}

.segment.footer{
  background: #fff;
  padding: 20px 0;
}

.segment.mentions_legales{
  background: #fff;
  padding: 40px 0;
}

.wrapper{
	position: relative;
	clear:both;
  margin: auto;
  width: 980px;
}



/* Header */

#logo{
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 60px;
}


#logo2{
  display: inline-block;
  float:right;
  position: relative;
  top:-10px;
}


/* Contact */

#theme{
  margin: auto;
  position: relative;
  width: 360px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  background: #333333;
  padding: 10px;
  padding-left: 55px;

}

i.icon-theme:before{
  content:'';
  display: block;
  position: absolute;
  top: 7px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-image: url('../images/icon-theme.png');
  background-image: -webkit-image-set( url('../images/icon-theme.png') 1x, url('../images/icon-theme@2x.png') 2x );
  background-size: 100%;
}

.segment.contact h1{
  display: block;
  margin-bottom: 20px;
  color: #cb2323;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: normal;
}

.segment.contact h1 span{
  font-weight: 700;
}

.segment.contact #baseline{
  font-size: 19px;
}



#main_image{
  display: inline-block;
  width: 510px;
  margin-top: 40px;
  margin-right: 40px;
}

#main_image img{
  width: 510px;
}


/* Form */

input[type="text"]
{
  border-radius: 0;
  height: 44px;
  background: #f8f8f8;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}

#form{
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  width: 425px;
}

#form h2{
  color: #e5022f;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: normal;
}

#form input, #form label, #form .field{
  /* display: inline-block; */
}

#form .fieldGroup{
  margin-top: 5px;
}

#form .fieldGroup.radio{
  margin-top: 25px;
}

#form .fieldGroup.radio > label{
  display: inline-block;
  margin-right: 20px;
}

input.birthdate{
  width: 52px;
  margin-right: 10px;
}

input.birthdate.year{
  width: 70px;
}

label{
  font-weight: 400;
  margin-bottom: 5px;
}

#form p.form-mention{
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #666666;
}

#form .button{
  margin-top: 15px;
  border-radius: 3px;
  background: #cb2323;
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  height: auto;
  padding: 7px;
  letter-spacing: normal;
  border: none;
  border-bottom: 2px solid #850f0e;
}

#form .button span{
  position: relative;
  right:12px;
  top:2px;
}


#form .button span i.icon-arrow:before{
  content:'';
  display: block;
  position: absolute;
  top: 4px;
  right: -30px;
  width: 14px;
  height: 14px;
  background-image: url('../images/icon-arrow.png');
  background-image: -webkit-image-set( url('../images/icon-arrow.png') 1x, url('../images/icon-arrow@2x.png') 2x );
  background-size: 100%;
  transition: background 0.2s;
}


#form .button:hover{
  background: #bc1f1f;
  transition: background 0.3s;
}


#form a.customer{
  float:right;
  text-decoration: underline;
  color: #333;
}


/* Expertise */

.segment.expertise h1{
  color: #333333;
  font-size: 22px;
  display: block;
  margin: auto;
  text-align: center;
  font-weight: 400;
  letter-spacing: normal;
}

.segment.expertise h1 span{
  text-transform: uppercase;
}

.segment.expertise .row .column{
  margin-top: 40px;
}

.segment.expertise .row .column{
  text-align: center;
}

.segment.expertise .row .column img{
  margin: auto;
  display: block;
  width: 40px;
  height: auto;
}

.segment.expertise .row .column p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.4em;
}

.segment.expertise .row .column p span{
  display: block;
  font-weight: 700;
}

/* Footer */

.segment.footer .wrapper{
  position: relative;
}

.logosgfooter{
  position: absolute;
  top: 0;
  left: 0;
}

.logosgfooter img{
  width: 180px;
  height: auto;
}

.copyright{
  float: right;
  position: relative;
  top:-1px;
}

.copyright li{
  display: inline-block;
  font-size: 11px;
}

.copyright li a{
  color: #333;
}


.copyright li:nth-child(-n+5):after{
  content: '|';
  padding-right: 5px;
  padding-left: 5px;
}

.copyright li:nth-child(7){
  margin-left: 20px;
}


/* Mentions légales */

#mentions_legales {
  margin: auto;
	font-size: 12px;
  color: #666666;
}


#mentions_legales .mentions{
	counter-reset: mention_count;
}

#mentions_legales .mentions dt {
	position: relative;
  padding: 0px 0 7px 0;
  padding-left: 30px;
  line-height: 18px;
  text-align: justify;
  text-justify: inter-word;

}


#mentions_legales .mentions dt:before{
	content: '('counter(mention_count)')';
    counter-increment: mention_count;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
}


.cookieCntr{
	background-color:#fcf7e5;
	color:#7b7b7b;
	padding:10px 30px 10px 10px;
	position:relative;
	text-align:center;
}
.cookieCntr a{
	color:#666;
	text-decoration:underline;
}
.cookieCntr .close{
	width:30px;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}


/* Media Queries */

@media screen and (max-width:1000px) {

  .segment.header{
    padding: 30px;
  }

  .segment.contact{
    padding: 40px 30px;
  }

  .segment.expertise{
    padding: 30px;
  }

  .segment.footer{
    padding: 30px;
  }

  .segment.mentions_legales{
    padding: 30px;
    padding-top:0;
  }

  .wrapper{
   width: 100%;
  }

  #main_image{
    width: 40%;
    margin-right: 5%;
    overflow: hidden;
  }

  #form{
    width: 54%;
  }


  .logosgfooter{
    display: block;
    position: relative;
  }

  .copyright{
    display: block;
    float: none;
  }

  .copyright li:nth-child(7){
    margin-left: 0;
    display: block;
    margin-top: 10px;
  }

}


@media screen and (max-width:768px) {

  #main_image, #form{
    display: block;
    width: 100%;
    margin-top: 5vw;
  }

  #main_image{
    width: 100%;
    height: 42vw;
  }

  #main_image img{
    width: 100%;
  }


}


@media screen and (max-width:640px) {

  .segment.header{
    padding: 3%;
  }

  .segment.contact{
    padding: 7% 5%;
  }

  .segment.expertise{
    padding: 7% 5%;
  }

  .segment.footer{
    padding: 5%;
  }

  .segment.mentions_legales{
    padding: 5%;
  }

  .segment.contact h1{
   font-size: 6vw;
  }

  .segment.contact h1 span{
   display: block;
  }

  .segment.contact #baseline{
  font-size: 4vw;
  line-height: 6vw;
  }

  #theme{
    top:0;
    width: 100%;
    font-size: 3.4vw;
    padding: 3.4vw;
    padding-left: 12vw;
  }

  i.icon-theme:before{
    top: 2.3vw;
    left: 3vw;
    width: 6vw;
    height: 6vw;
  }

  #logo {
    width: 28vw;
    height: 8vw;
  }

  #logo img{
    width: 100%;
    height: auto;
  }

  #logo2{
    top:-1vw;
    width: 9vw;
    height: auto;
  }

}

@media screen and (max-width:400px) {
  #form .button{
    font-size: 17px;
  }

  #form .button span i.icon-arrow:before{
    right: -23px;
  }

}
