


/*********/
/* RESET */
/*********/

header, nav, footer, figure, section, article {display: block;}
html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, a, em, font, img, strong, sub, sup, dl, dt, dd, ul, ol, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, p {margin: 0;	padding: 0;	border: 0;	outline: 0; text-decoration: none;}



/*********/
/* BORDER BOX */
/*********/

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -o-box-sizing: inherit;
}


/*********/
/* FONT */
/*********/

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

strong { font-weight: bold; }



/*********/
/* GENERAL */
/*********/


body {
  font-family: 'Roboto', 'Arial', sans-serif;
	height: 100%;
	background-color: white;
}


.segment{
  width: 100%;
  min-width:768px;
}

.segment.header{
  background: #efefef;
  padding: 30px 0;
}

.segment.exemple {
  background: #ffffff;
  padding: 16px 0;
}

.segment.bandeau{
  background: #fca634; /* Old browsers */
  background: -moz-linear-gradient(top,  #fca634 0%, #ff9100 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fca634 0%,#ff9100 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fca634 0%,#ff9100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca634', endColorstr='#ff9100',GradientType=0 ); /* IE6-9 */
}

.segment.simulateur {
  background: #ffffff;
  padding: 40px 0;
}

.segment.banniereBfm {
  background: #efefef;
  padding: 40px 0;
}

.segment.mentions_legales {
  background: #ffffff;
  padding: 30px 0;
}


/* Header */

header{
	position: relative;
	clear:both;
  margin: auto;
  width: 700px;
}


/* Exemple */

#exemple{
  max-width: 1250px;
  width: 95%;
  margin: auto;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 19px;
  line-height: 27px
}


/* Bandeau */

#bandeau{
  position: relative;
  height: 270px;
  width: 700px;
  margin: auto;
  text-align: right;
}

#clock{
  position: absolute;
  top: 0px;
  left: -110px;
  width: 456px;
  height: 270px;
}

#informations {
  position: relative;
  z-index: 2;
  width: 540px;
  display: inline-block;
  text-align: left;
  margin-top: 25px;
}

#informations h2 {
  display: inline-block;
  font-weight: 400px;
  font-style: italic;
  font-size: 35px;
}

#dashes {
  display: inline-block;
  width: 40px;
  height: 15px;
  margin: 0 10px;
  vertical-align: baseline;
}

#dueDate{
  position: relative;
  display: inline-block;
  width: 280px;
  padding: 0.8em;
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  text-transform: uppercase;
  border: 1px solid #000000;
  /* min-height: 1em; */
  text-align: center;
}

#dueDate span{
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -webkit-transform: skewX(415deg);
  transform: skewX(15deg);
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

#informations h1{
  font-weight: 100;
  font-size: 51px;
  color: #333333;
}

#informations h1 span{
  font-weight: 400;
}

#informations h1 span sup{
  font-size: 17px;
  line-height: 0;
  vertical-align: baseline;
  position: relative;
  top: -1.5em;
}

#taux {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-size: 92px;
  font-weight: 900;
}

#taux span{
  position: absolute;
  bottom: -12px;
  right: 0px;
  color: #000000;
  font-weight: 700;
  font-size: 22px;
}

#mention{
  display: inline-block;
  margin-left: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}


/* Simulateur */


#simulateur{
  width: 700px;
  margin: auto;
}

#simulateur h3{
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}


.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 5%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; }

.span_1_of_2 {
	width: 47.5%;
}

.section.group.cta{
  margin-top: 40px;
}

.btn{
  position: relative;
  display: block;
  font-size: 19px;
  font-weight: 400;
  padding: 18px 20px;
  border-radius: 3px;
}

.btn.contact{
  color: #2d2d2c;
  background: #ffffff;
  border: 1px solid #666666;
  border-bottom: 2px solid #666666;
  transition: background 0.2s;
}

.btn.contact:hover{
  background: #f2f2f2;
  transition: background 0.4s;
}

.btn.calculate{
  color: #ffffff;
  background: #ff9100;
  border: 1px solid #ff9100;
  border-bottom: 2px solid #b76c11;
  transition: background 0.2s;
}

.btn.calculate:hover{
  background: #e58200;
  transition: background 0.4s;
}

i.arrow:before{
  content:'';
  display: block;
  position: absolute;
  top: 20px;
  right: 16px;
  width: 7px;
  height: 21px;
  background-image: url('../images/button_arrow.png');
  background-image: -webkit-image-set( url('../images/button_arrow.png') 1x, url('../images/button_arrow@2x.png') 2x );
}

i.arrow.white:before{
  background-image: url('../images/button_arrow_white.png');
  background-image: -webkit-image-set( url('../images/button_arrow_white.png') 1x, url('../images/button_arrow_white@2x.png') 2x );
}

i.arrow.blue:before{
  background-image: url('../images/button_arrow_blue.png');
  background-image: -webkit-image-set( url('../images/button_arrow_blue.png') 1x, url('../images/button_arrow_blue@2x.png') 2x );
  top:45px;
}


/* Banniere BFM */

#banniereBfm{
  position: relative;
  margin: auto;
  width: 700px;
  background: #ffffff;
  border: 2px solid #0080c2;
  padding: 30px;
  transition: background 0.2s;
}

#banniereBfm:hover{
  background: #f2f2f2;
  transition: background 0.4s;
}

#logoBfm{
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 54px;
}

#banniereBfm .label{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 2px;
  line-height: 25px;
  margin-left: 25px;
  font-weight: 400;
  font-size: 16px;
  color: #2d2d2c;
}

#banniereBfm .label span{
  font-weight: 500;
  font-size: 19px;
  color: #007ac2;
}

.segment.banniereBfm a{
  display: block;
  width: 700px;
  margin: auto;
}

/* Banniere légales */

#mentions_legales {
  margin: auto;
  max-width: 1250px;
  width: 95%;
	font-size: 14px;
  color: #666666;
}


#mentions_legales .mentions{
	counter-reset: mention_count;
}

#mentions_legales .mentions dt {
	position: relative;
  padding: 0px 0 7px 0;
  padding-left: 30px;
  line-height: 16px;
  text-align: justify;
  text-justify: inter-word;

}


#mentions_legales .mentions dt:before{
	content: '('counter(mention_count)')';
    counter-increment: mention_count;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
}


@media screen and (max-width:1000px) {

  #exemple, #mentions_legales {
    width: 91%;
  }

}
